Repository SELab-2/Dr-Trottoir-5, pull requests merged in 2023-05, with the labels that each got.

#255 URL change
  frontend/src/App.vue
  frontend/src/api/services/AuthService.ts
  frontend/src/components/AccountInformation.vue
  frontend/src/components/LoginTopBar.vue
  frontend/src/components/NavigationBar.vue
  frontend/src/components/admin/CreateEditSyndicus.vue
  frontend/src/components/admin/RoundBuildingCard.vue
  frontend/src/components/admin/SyndicusCard.vue
  frontend/src/components/admin/TemplateMailCard.vue
  frontend/src/components/admin/mail/CreateEditMailTemplate.vue
  frontend/src/components/admin/student_template/DagPlanningCard.vue
  frontend/src/components/admin/student_template/StudentTemplateCard.vue
  frontend/src/components/admin/student_template/TemplateRondeCard.vue
  frontend/src/components/containerTemplates/TrashContainerTemplateCard.vue
  frontend/src/components/containerTemplates/TrashContainerTemplateCreate.vue
  frontend/src/components/containerTemplates/TrashContainerTemplateEdit.vue
  frontend/src/components/containerTemplates/TrashContainerTemplateList.vue
  frontend/src/components/containerTemplates/buildings/TrashTemplateBuildingCard.vue
  frontend/src/components/containerTemplates/buildings/TrashTemplateBuildingsList.vue
  frontend/src/components/containerTemplates/containers/TrashContainerCard.vue
  frontend/src/components/containerTemplates/containers/TrashTemplateContainersList.vue
  frontend/src/components/student/DayPlanBuilding.vue
  frontend/src/components/student/FotoCardStudent.vue
  frontend/src/components/student/OverviewScreenStudentPosts.vue
  frontend/src/config.ts
  frontend/src/router/index.js
  frontend/src/service-worker.js
  frontend/src/views/BuildingPageStudent.vue
  frontend/src/views/CreateRoundView.vue
  frontend/src/views/ForgotView.vue
  frontend/src/views/HomeView.vue
  frontend/src/views/LoginView.vue
  frontend/src/views/RegisterView.vue
  frontend/src/views/StudentHomeView.vue
  frontend/src/views/listViews/BuildingList.vue
  frontend/src/views/listViews/RoundList.vue
  frontend/src/views/listViews/TemplateList.vue
  frontend/src/views/student_template/DagplanningAddView.vue
  frontend/src/views/student_template/DagplanningEditView.vue
  frontend/src/views/student_template/RondeDagplanningenView.vue
  frontend/src/views/student_template/StudentTemplateAddView.vue
  frontend/src/views/student_template/StudentTemplateEditView.vue
  frontend/src/views/student_template/StudentTemplateView.vue
Labels: Front-end

#205 Send mail
  frontend/src/api/services/MailTemplateService.ts
  frontend/src/components/admin/mail/SendMail.vue
  frontend/src/components/syndicus/FotoCardSyndicus.vue
Labels: Front-end

#256 Fix van weken bij templates
  backend/exceptions/exceptionHandler.py
  backend/planning/util.py
  backend/planning/views.py
  backend/trashtemplates/util.py
  backend/trashtemplates/views.py
  frontend/src/views/admin/DashboardView.vue
Labels: Back-end

#257 Locaties pagina
  frontend/src/api/services/LocationService.ts
  frontend/src/components/NavigationBar.vue
  frontend/src/components/admin/LocationCard.vue
  frontend/src/components/admin/LocationHeader.vue
  frontend/src/config.ts
  frontend/src/router/index.js
  frontend/src/views/admin/CreateLocationView.vue
  frontend/src/views/listViews/LocationList.vue
Labels: Front-end

#271 Gebouw aanmaak scherm layout resize
  frontend/src/views/admin/CreateBuildingView.vue
Labels: Front-end

#279 all email to lowercase
  backend/users/views.py
  frontend/src/components/AccountInformation.vue
Labels: Back-end

#281 Account aanpassen permissies
  backend/users/tests.py
  backend/users/views.py
  frontend/src/api/services/AuthService.ts
  frontend/src/api/services/UserService.ts
  frontend/src/components/AccountInformation.vue
  frontend/src/views/listViews/StudentList.vue
Labels: bug, Front-end, Back-end

#260 start building follow up
  backend/planning/views.py
  backend/trashtemplates/views.py
  frontend/package-lock.json
  frontend/src/api/services/PlanningService.ts
  frontend/src/components/admin/AdminBuildingInfo.vue
  frontend/src/components/admin/FollowUpRoundBuildingCard.vue
  frontend/src/components/admin/FotoCardAdmin.vue
  frontend/src/components/admin/mail/SendMail.vue
  frontend/src/components/student/CreateEditPostStudent.vue
  frontend/src/components/syndicus/FotoCardSyndicus.vue
  frontend/src/config.ts
  frontend/src/router/index.js
  frontend/src/views/admin/SendMailView.vue
Labels: Front-end

#283 Aanvullen docs
  README.md
  backend/README.md
  docs/.gitmodules
  docs/config.toml
  docs/content/nl/docs/Hoe-te-gebruiken/_index.md
  docs/content/nl/docs/Hoe-te-gebruiken/admin.md
  docs/content/nl/docs/Hoe-te-gebruiken/example-page.md
  docs/content/nl/docs/Hoe-te-gebruiken/student.md
  docs/content/nl/docs/Hoe-te-gebruiken/super-student.md
  docs/content/nl/docs/Hoe-te-gebruiken/syndicus.md
  docs/content/nl/docs/Lokale-deployment/_index.md
  docs/content/nl/docs/Lokale-deployment/docker.md
  docs/content/nl/docs/Lokale-deployment/frontend.md
  frontend/README.md
Labels: documentation

#284 fix registratie error
  backend/users/tests.py
  backend/users/views.py
  frontend/src/views/RegisterView.vue
Labels: Back-end

#263 Backend tests
  backend/exceptions/tests.py
  backend/mailtemplates/tests.py
  backend/pickupdays/serializers.py
  backend/pickupdays/tests.py
  backend/pickupdays/views.py
  backend/planning/models.py
  backend/planning/tests.py
  backend/planning/views.py
  docs/content/nl/docs/API/planning.md
Labels: Back-end
