Repository SELab-2/Dr-Trottoir-5, pull requests merged in 2023-04, with the labels that each got.

#229 dropdown icon bij list pages
  frontend/src/components/NavigationBar.vue
  frontend/src/components/NormalButton.vue
  frontend/src/components/SearchDropdown.vue
  frontend/src/components/util/RoundSearchDropdown.vue
Labels: Front-end

#235 Fix development
  frontend/src/api/services/RoundService.ts
Labels: bug

#226 Gebruiker rol aanpassen, informatie tonen van gebruiker, gebruikers registreren
  backend/users/urls.py
  backend/users/views.py
  frontend/src/api/services/UserService.ts
  frontend/src/components/AccountInformation.vue
  frontend/src/components/admin/ListPage.vue
  frontend/src/components/admin/StudentCard.vue
  frontend/src/config.ts
  frontend/src/router/index.js
  frontend/src/views/AccountView.vue
  frontend/src/views/admin/AdminStudentInfoUser.vue
  frontend/src/views/admin/AdminStudentInfoUserEdit.vue
  frontend/src/views/listViews/RegisterUserList.vue
  frontend/src/views/listViews/StudentList.vue
Labels: Front-end

#88 Exception handling
  backend/exceptions/__init__.py
  backend/exceptions/exceptionHandler.py
  backend/exceptions/tests.py
  backend/pickupdays/views.py
  backend/planning/models.py
  backend/planning/views.py
  backend/ronde/tests.py
  backend/ronde/views.py
  backend/trashcontainers/views.py
  backend/users/tests.py
  backend/users/views.py
Labels: Back-end

#233 fix mailtemplates flow
  frontend/src/components/admin/TemplateMailCard.vue
  frontend/src/components/admin/mail/CreateEditMailTemplate.vue
  frontend/src/config.ts
  frontend/src/router/index.js
  frontend/src/views/listViews/TemplateList.vue
Labels: Front-end

#201 Create and edit syndicus
  backend/ronde/models.py
  frontend/src/api/services/AuthService.ts
  frontend/src/api/services/BuildingService.ts
  frontend/src/api/services/UserService.ts
  frontend/src/components/admin/CreateEditSyndicus.vue
  frontend/src/config.ts
  frontend/src/router/index.js
  frontend/src/views/admin/AdjustSyndicusView.vue
  frontend/src/views/admin/CreateSyndicusView.vue
Labels: Front-end
